name: CI

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    types:
      - edited
      - opened
      - synchronize

env:
  GO_VERSION: 1.25

jobs:
  lint-format-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: true

      - name: Install Dependencies
        run: |
          go mod download
          go mod verify

      - name: Install Security Tools
        run: |
          go install github.com/securego/gosec/v2/cmd/gosec@latest
          go install golang.org/x/vuln/cmd/govulncheck@latest

      - name: Install Linting Tools
        run: |
          curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh \
          | sh -s -- -b $(go env GOPATH)/bin latest

      - name: Install dependencies
        run: make install

      - name: Run CI pipeline
        run: make ci
